@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap'); /* adding caprasimo font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); /* adding lexend font */

/*
Color Palette:
heading: #EF6351
paragraph: #FFFFFF
background: #FBC3BC
shaded background: #F7A399

Font Family:
h1, h4: 'Caprasimo'
paragraph: 'Lexend', sans-serif
*/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

button {
    background-color: #ffffff;
    color: #EF6351;
    border-color: #F7A399;
    border-radius: 3px;
    border-style: solid;
    font-family: 'Caprasimo';
    padding: 7px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

img {
    width: 50px;
    padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBC3BC;
}

h1 {
    font-size: 40px;
    font-family: 'Caprasimo';
    font-weight: 300;
    color: #EF6351;
}

h4 {
    font-size: 25px;
    font-family: 'Caprasimo';
    font-weight: 100;
    color: #EF6351;
    text-align: center;
    margin: 8px;
}

p {
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.poem-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 2px;
    padding: 2px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2px;
    padding: 5px;
}

.poem {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    border-color: #EF6351;
    border-width: 2px;
    border-style: solid;
    background-color: #F7A399;
}